body {
    background-color: #EF87BC;
}
.header {
    background-color: #E2EAF4;
    text-align: center;
    border-bottom: 6px solid #ACB7C5;
}

.header h1 {
    color: #000000;
}
.header p {
    color: #000000;
}
.about {
    background-color:#D795E9 ;
    border: 4px solid #F56C6C;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}
.activities {
    background-color:#ACDAF1 ;
    border: 4px solid #ACB7C5;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;

}