.successbtn {
background-color: green;
color: white;
font size: 30px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.informationbtn {
background-color: blue;
color: white;
font size: 30px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.warningbtn {
background-color: yellow;
color: black;
font size: 30px;
border: none;
border-radius: 5px
cursor: pointer;
}

.dangerbtn {
background-color: red;
color: white;
font size: 30px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.successpage {
    background-color: green;
}
.infopage {
    background-color: blue;
}
.warningpage {
    background-color: yellow; 
}
.dangerpage {
    background-color: red;
}