.successbtn{
    background-color: green;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.informationbtn{
    background-color: blue;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.warningbtn{
    background-color: orange;
    color: black;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}
.dangerbtn{
    background-color: red;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.successpage{
    background-color: green;
    color: black;

}
.informationpage{
    background-color: aqua;
    color: black;
}
.warningpage{
    background-color: orange;
    color: black;
}
.dangerpage{
    background-color: red;
    color: bisque;
}